.gradle/4.8/fileChanges/last-build.bin
.gradle/4.8/fileContent/annotation-processors.bin
.gradle/4.8/fileContent/fileContent.lock
.gradle/4.8/fileHashes/fileHashes.bin
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/4.8/fileHashes/resourceHashesCache.bin
.gradle/4.8/taskHistory/taskHistory.bin
.gradle/4.8/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties

/Users/anthonypereira/IdeaProjects/one/.idea
